.modalContainer {
   display: none;
   position: fixed;
   z-index: 1;
   padding-top: 10rem;
   left: 0;
   top: 0;
   width: 80%;
   heigth: 80%;
   overflow: auto;
}
.modalContainer .modal-content {
background-color: #fff;
opacity: 65%;
margin: auto;
padding: 1rem;
border: solid 1px #0f3439;
width: 60%;
}
.modalContainer .close {
color: rgb(192, 40, 40);
float: right;
font-size: .8rem;
font-weigth: medium;
}
.modalContainer .close:hover, .close:focus {
color: #00000;
text-decoration: none;
cursor: pointer;
}
 .modalContainer .confimar {
        margin-top: 5rem;
        width: 10rem;
        height: 3rem;
        border-radius: 1rem;
        border: solid 1px #0f3439;
        background-color: #3d4f51;
        font-size: 0.8rem;
        text-align: center;
        opacity: 80%;  
        font-weight: 800;
        color: #ffffff;
    }
